name: Run Cypress Tests

on:
  schedule:
    - cron: '0 8 * * 1-7'  # Runs at 9 AM PKT (4 AM UTC) Monday-Friday
  workflow_dispatch: # Allows manual execution from GitHub Actions

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Run Cypress Tests
        run: npm run cyp
